<!--
To add an extended head section, please create
`layouts/partials/extended_head.html` in your Hugo directory.
-->

<!-- Google tag (gtag.js) ---- rdl3h.gitlab.io -->
<!-- NEED TO REMOVE/UPDATE FOR OTHER PAGES -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q7QRFFCMM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2Q7QRFFCMM');
</script>
